name: Build and Push Docker Image
on:
  release: 
    types: [created]
  
  push: 
    branches: 
      - development
      - staging
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Lowercase repository
        id: repository
        uses: ASzc/change-string-case-action@ccb130a4e483d3e86287289183704dc9bf53e77e
        with:
          string: ${{ github.repository }}

      - name: Get tag version
        id: get_version
        run: echo "::set-output name=VERSION::${GITHUB_REF#refs/tags/v}"

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@1f36f5b7a2d2f7bfd524795fc966e6d88c37baa9
        if: ${{ github.event_name != 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
        with:
          context: .
          push: true
          tags: ghcr.io/${{ steps.repository.outputs.lowercase }}:${{ steps.get_version.outputs.VERSION }}
          build-args: |
            NODE_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}