name: Test Build

on: 
    push: 

jobs:
    build:
        runs-on: ubuntu-latest
        steps:

        -   name: Install Node.js
            uses: actions/setup-node@v4
            with:
                node-version: 20

        -   name: Install pnpm
            uses: pnpm/action-setup@v3
            with:
                version: 8

        -   name: Check out code
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

        -   name: Install dependencies
            run: pnpm install

        -   name: Build
            run: pnpm run build